HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Directorio de ficheros subidos
uploads/

# Extensiones de ficheros subidos
*.jpg
*.jpeg
*.pdf

# Evitar que alguien copie secretos dentro del proyecto
**/application-secret.properties
**/*secret*.properties
**/*secrets*/

# Archivos .env
.env
.env.*
*.env
